<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-effect bg-secondary-theme">
                <div class="card-body text-center">
                     <h3 class="text-theme-center">All Blog Posts</h3>
                     <p>From here you can manage your blog posts</p>

                     <button class="btn btn-info bg-theme" routerLink="/posts/new">Add new Post</button>
                     <button class="btn btn-info bg-warning ms-2" routerLink="/">Back to the Dashboard</button>
                </div>  
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-effect">
                <div class="card-body">
                    <table class="table row-border hover">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Post Image</th>
                                <th>Title</th>
                                <!-- <th>Excerpt</th> -->
                                <th>Category</th>
                                <th>Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let post of postArray; let i = index" class="justify-content-center">
                                <td >{{ i+1 }}</td>
                                <td class="col-3"> <img src="{{ post.data.postImgPath }}" class="img img-fluid" style="width:150px ;"></td>
                                <td class="col-3"> {{ post.data.title }} </td>
                                <!-- <td class=""> {{ post.data.excerpt }} </td> -->
                                <td class=""> {{ post.data.category.category }} </td>
                                <td class="col-2"> {{ post.data.createdAt.toMillis() | date }} </td>
                                <td class="col-4" > 
                                    <button class="btn btn-sm bg-warning" routerLink="/posts/new" [queryParams]="{id: post.id}">Edit</button>
                                    <button class="btn btn-sm bg-danger  text-white ms-2" (click)="onDelete(post.data.postImgPath, post.id)">Delete </button>
                                    <button *ngIf="!post.data.isFeatured" class="btn btn-sm bg-success text-white ms-2" (click)="onFeatured(post.id , true)" >Mark Featured</button> 
                                    <button  *ngIf="post.data.isFeatured" class="btn btn-sm bg-info  ms-2" (click)="onFeatured(post.id , false)">Remove Featured</button> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>