/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "~ngx-toastr/toastr";

:root{
    --primary-color : #024a67 !important;
    --secondary-color: #e5eff5 !important;
    --body-text-color: #153438 !important;
    --navbar-footer-color:#c6dbec !important;
}


body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: var(--body-text-color) !important;
}

.site-logo{
    padding: 5px 20px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 1.5 em;
}

.nav-link{
    color: var(--primary-color)!important;
}

.shadow-effect{
    border: none;
    box-shadow: 0px 0px 33px -10px rgba(71, 114, 254, 0.3);
}

.bg-theme{
    background-color: var(--primary-color);
}

.bg-priamry-theme{
    background-color: var(--priamry-color) !important;
}

.bg-secondary-theme{
    background-color: var(--secondary-color) !important;
}
.text-theme-primary{
    color: var(--primary-color);
}

.text-theme-secondary{
    color: var(--secondary-color);
}

.card{
    border: none !important;
}

.btn-sub {
    height: 58px;
    border: none;
    font-size: 13px;
    background-color: var(--primary-color) !important;
}

.btn-theme{
    border:none;
    font-size:13px;
    background-color: var(--primary) !important;
}