<div class="container ">
    <div class="row justify-content-center ">
        <div class="col-md-6 mb-3 mt-4">
            <div class="card shadow-effect" routerLink="/categories">
                <div class="card-body text-center bg-secondary-theme">
                    <h1 class="text-theme-primary"><i class="fa-solid fa-list"></i></h1>
                    <h2 class="text-theme-primary"> Category</h2>
                    <p>Manage Your Category Details Here</p>
                </div>
            </div>
        </div>



        <div class="col-md-6 mb-3 mt-4">
            <div class="card shadow-effect" routerLink="/subscribers">
                <div class="card-body text-center bg-secondary-theme">
                    <h1 class="text-theme-primary"><i class="fa-solid fa-users"></i></h1>
                    <h2 class="text-theme-primary"> Subscribers </h2>
                    <p>Manage Your post Details Here</p>
                </div>
            </div>
        </div>

        <div class="col-md-12 mb-5 mt-4">
            <div class="card shadow-effect" routerLink="/posts">
                <div class="card-body text-center bg-secondary-theme">
                    <h1 class="text-theme-primary"><i class="fa-solid fa-file"></i></h1>
                    <h2 class="text-theme-primary"> Posts</h2>
                    <p>Manage Your post Details Here</p>
                </div>
            </div>
        </div>

    </div>
</div>