
<div class="container justify-content-center ">

<div class="row mt-5">
    <div class="container ">
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow-effect bg-secondary-theme">
                    <div class="card-body text-center">
                        <h3 class="text-theme-center">All subscribers</h3>
                        <p>From here you can manage your subscribers</p>
                        <button class="btn btn-info bg-warning ms-2" routerLink="/">Back to the Dashboard</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6 mb-5 ">
                <div class="card shadow-effect mt-3">
                    <div class="card-body">
                        <table class="table row-border hover">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
    
                            <tbody>
                                <tr *ngFor="let subscriber of subscribersArray; let i = index">
                                    <td> {{ i + 1 }}</td>
                                    <td> {{ subscriber.data.name }} </td>
                                    <td> {{ subscriber.data.email }} </td>
                                    <td>
                                        <button class="btn btn-sm bg-danger  text-white ms-2"
                                            (click)="onDelete(subscriber.id)"> Delete </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>